# Financial Data Analysis and Google Sheets Integration

In this notebook, we'll fetch financial data for Microsoft (MSFT) from Yahoo Finance and upload it to Google Sheets.

## 1. Import Required Libraries

In [26]:
import yfinance as yf
from financial_data import read_income_stmt, read_cashflow, read_balance_sheet, authenticate_google_sheets, dump_to_sheet

In [27]:
# Create a Ticker object for Microsoft
tikr = yf.Ticker("MSFT")

# Fetch financial data
income_statement = read_income_stmt(tikr)
cash_flows = read_cashflow(tikr)
balance_sheet = read_balance_sheet(tikr)

# Display the fetched data
print('Income Statement Data')
display(income_statement)
print('Cash Flows Data')
display(cash_flows)
print('Balance Sheet Data')
display(balance_sheet)

Income Statement Data

                               2020-06-30  2021-06-30  2022-06-30  2023-06-30
Total Revenue                    143015.0    168088.0    198270.0    211915.0
EBITDA                            68423.0     85134.0    100239.0    105140.0
Depreciation And Amortization     12796.0     11686.0     14460.0     13861.0
EBIT                              55627.0     73448.0     85779.0     91279.0
Interest Expense                   2591.0      2346.0      2063.0      1968.0
Interest Income                    2680.0      2131.0      2094.0      2994.0
Tax Provision                      8755.0      9831.0     10978.0     16950.0
Minority Interests                    0.0         0.0         0.0         0.0
Diluted Average Shares             7683.0      7608.0      7540.0      7472.0

Cash Flows Data

                          2020-06-30 2021-06-30 2022-06-30 2023-06-30
Capital Expenditure         -15441.0   -20622.0   -23886.0   -28107.0
Change In Working Capital    -1483.0     -936.0      446.0    -2388.0
Free Cash Flow               45234.0    56118.0    65149.0    59475.0

Balance Sheet Data

                          2020-06-30 2021-06-30 2022-06-30 2023-06-30
Cash And Cash Equivalents    13576.0    14224.0    13931.0    34704.0
Financial Debt               63327.0    58146.0    49781.0    47237.0
Capital Lease Obligations     7671.0     9629.0    11489.0    12728.0
Goodwill                     43351.0    49711.0    67524.0    67886.0
Common Stock Equity         118304.0   141988.0   166542.0   206223.0
Total Debt                   70998.0    67775.0    61270.0    59965.0

## 2. Fetch Financial Data
We'll start by fetching the income statement, cash flow, and balance sheet data for Microsoft.

## 3. Setup Google Sheets API
You need to authenticate with Google Sheets API using your credentials. Make sure you have the credentials.json file generated and saved as described in the GOOGLE_SHEETS_SETUP.md file.

In [28]:
# Setup connection with Google Sheets API
credentials_path = '../credentials/financial-analysis-410603-6b1649768d4e.json'
client = authenticate_google_sheets(credentials_path)

## 4. Open Google Spreadsheet
Provide the spreadsheet ID from your Google Sheets URL. Replace it with your actual spreadsheet ID.

In [29]:
# The spreadsheet ID you copied from the URL of your spreadsheet
spreadsheet_id = '1zt2BuaotZX2RQPJCkqK7iA2Uhh8grUHIYGR5jBb3ilQ'

# Open the spreadsheet by ID
spreadsheet = client.open_by_key(spreadsheet_id)

## 5. Define Worksheets
Specify which worksheets you want to interact with. Replace these with your actual worksheet names.

In [30]:
# Define each sheet
income_sheet    = spreadsheet.worksheet("1.Income statement")
cashflows_sheet = spreadsheet.worksheet("2.Flujos de caja")
balance_sheet   = spreadsheet.worksheet("3.Retornos capital")

## 6. Dump Data to Google Sheets
Specify the target rows and columns where the data should be dumped.

In [31]:
# Target rows in the Google Sheet (1-based indexing)
target_rows = [10, 13, 15, 16, 18, 19, 22, 25, 29]

# Column range to extract (3rd to 7th column, 0-based index)
column_range = (3, 7)

# Example of dumping data
dump_to_sheet(income_statement, column_range, target_rows, income_sheet)

# Notes
1. Dependencies: Ensure all required libraries (yfinance, gspread, oauth2client, pandas) are installed in your environment.
2. Credentials: Make sure your credentials.json file is correctly set up and placed in the specified path.
3. Spreadsheet and Worksheet Names: Update the spreadsheet_id and worksheet names according to your specific Google Sheets setup.

This template provides a comprehensive walkthrough from fetching financial data to uploading it to Google Sheets. Adjust the paths, IDs, and worksheet names as needed for your specific use case.